.timeline {
    padding-top: 10px;
    list-style-type: none;
}

.timeline li {
    line-height: 1.4;
    padding: 5px 0;
}

.timeline li .date {
    color: var(--color-primary);
    font-style: italic;
    padding-right: 7px;
}
